body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}

.bs1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

p {
  margin: 5px !important;
  text-align: left;
  padding: 0;
}

.btn1 {
  box-shadow: none !important;
  background-color: #BF1223 !important;
  color: white !important;
  border: 1px solid #BF1223;
  padding: 5px !important;
  outline: none !important;
}

.btn1 a{
  color: white !important;
  background-color: #BF1223;
}

.btn1-green {
  box-shadow: none !important;
  background-color: #BF1223 !important;
  color: green !important;
  border: 1px solid green;
  padding: 5px !important;
  outline: none !important;
}

.btn1-green a{
  color: green !important;
  background-color: #BF1223;
}

.btn1-blue {
  box-shadow: none !important;
  background-color: #BF1223 !important;
  color: blue !important;
  border: 1px solid blue;
  padding: 5px !important;
  outline: none !important;
}
.tag-blue {
  box-shadow: none !important;
  background-color: #BF1223 !important;
  color: blue !important;
  border: 1px solid blue;
  padding: 5px !important;
  outline: none !important;
}

.btn1-blue a{
  color: blue !important;
  background-color: #BF1223;
}

.btn1-#BF1223 {
  box-shadow: none !important;
  background-color: #BF1223 !important;
  color: #BF1223 !important;
  border: 1px solid #BF1223;
  padding: 5px !important;
  outline: none !important;
}

.btn1-#BF1223 a{
  color: #BF1223 !important;
  background-color: #BF1223;
}



.btn:focus {
  border: none !important;
}

button {
  padding: 3px 10px !important;
}

.header {
  padding: 10px;
  background-color: #BF1223;

}

.header h1 {
  color: white;
  font-weight: bold;
}


.header .ant-btn {
  box-shadow: none !important;
  background-color: white !important;
  color: #BF1223;
  border: 1px solid white;
  padding: 5px !important;
  outline: none !important;
}

.content {
  min-height: 90vh;
  

}

.carimg {
  height: 180px;
  width: auto;
  border-radius: 5px;

}

.login {
  background-color: black;
  min-height: 100vh;
  padding-top: 20px;
  
}

.login label,
.login h1 {
  color: #BF1223 !important;
  opacity: 0.6;
}


.login-form {
  background-color: #1F1F1F;
}

.login-form input {
  background-color: #3333;
  border: none !important;
  color: #BF1223;
  opacity: 0.5;
}

.login img {
  height: 100vh;
  width: auto;
  /* overflow:hidden; */
}

.login-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 50%;
  transform: translateY(-50%, -50%);
  font-size: 40px;
  opacity: 0.8 !important;
  color: white;
  font-weight: bold;

}

.login a {
  color: #BF1223;
  opacity: 0.5;
}

.carimg2 {
  height: 400px;
  border-radius: 10px;
  width: auto;
}


.vote {
  width: 100%;
  padding: 20px;
}

.castVote {
  width: 100%;
  padding: 30px;
}



.voteItem {
  width: auto;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

.voteItemTitle {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 50px;

}
.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: white !important;
  border-bottom: 2px solid red;
}

.ant-menu a {
  color: white !important;
}